# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
cpv_env/
# 1. Allow Git to enter the parent folders (MUST have trailing slashes)
!cpv_env/
!cpv_env/Lib/
!cpv_env/Lib/site-packages/

# 2. Ignore everything inside the target folder
cpv_env/Lib/site-packages/*

# 3. Explicitly allow your specific files
!cpv_env/Lib/site-packages/my_*.py

.venv/
env/
venv/
ENV/

# Configuration and Secrets
.env

# Project Specific Data & Inputs
Input/
Output/

# Project
Src/signature_movement/human
Src/signature_movement/not_signature/
Src/signature_movement/log.txt

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
